:root {
  /* Colors */
  --color-black: rgb(21, 21, 21);
  --color-green: rgb(78, 225, 160);
  --color-light-black: rgb(36, 36, 36);
  --color-light-gray: rgb(217, 217, 217);
  --color-white: rgb(255, 255, 255);

  /* Typography */
  --font-family: "Space Grotesk";

  --fs-md: 1.5rem;
  --fs-lg: 3rem;
  --fs-xl: 5.5rem;

  /* Line Heights  (line height / font size) */
  --lh-md: 1.33;
  --lh-lg: 1.16;
  --lh-xl: 1;
}

/* Global Styles */
@font-face {
  font-family: "Space Grotesk";
  src: url("./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./assets/fonts/static/SpaceGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./assets/fonts/static/SpaceGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html,
body {
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-black);
  color: var(--color-white);
}

/* ***** Mobile Styles ***** */

.container {
  margin: 0;
}

/* ****** Header ****** */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
  width: 100vw;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: var(--font-family);
}

.social-media {
  width: 200px;
  margin-bottom: 10px;
}

img[alt="Github"],
img[alt="LinkedIn"],
img[alt="X"],
img[alt="Frontend Mentor"] {
  height: 1.2rem;
  padding: 0 10px 0 10px;
  margin-left: 5px;
}

img[alt="Picture of Todd"] {
  width: 13.8rem;
  height: 17rem;
  opacity: 0.9;
}

img[alt="circle"] {
  width: 8rem;
  height: 7rem;
  position: absolute;
  top: 14.7rem;
  left: 21.5rem;
  z-index: 0;
}

img[alt="rings"] {
  width: 530px;
  height: 120px;
  position: absolute;
  top: 8rem;
  right: 155px;
  mix-blend-mode: normal;
  opacity: 1.25;
  z-index: -1;
}

.image-bio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ****** Main ****** */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 85px;
}

.top-section h1 {
  font-size: 2.2rem;
  padding: 0 4px 0 4px;
}

#name {
  text-decoration: underline;
  text-decoration-color: var(--color-green);
}

.top-section p {
  font-family: var(--font-family);
  font-size: var(--fs-sm);
  color: var(--color-light-gray);
  line-height: 25px;
}

.top-section p + span {
  font-family: var(--font-family);
  font-size: var(--fs-sm);
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: var(--color-green);
  text-underline-offset: 15px;
}

.skills-section,
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 95%;
  margin-bottom: 60px;
}

.skills-section {
  width: 345px;
  border-top: var(--color-light-gray) 2px solid;
  border-bottom: var(--color-light-gray) 2px solid;
  position: relative;
  padding-bottom: 25px;
}

.skills {
  font-family: var(--font-family);
  font-size: 2rem;
  margin-top: 40px;
  margin-bottom: 10px;
}

.skills-section span {
  font-family: var(--font-family);
  color: var(--color-light-gray);
}

#rings-2 {
  width: 530px;
  height: 120px;
  position: absolute;
  top: 24.5rem;
  left: 195px;
  mix-blend-mode: normal;
  opacity: 1.25;
  z-index: -2;
}

#projects-heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 700;
}

#projects-heading h2,
#projects-heading h3 {
  width: 152px;
  height: 40px;
}

#projects-heading h2 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -1.13636px;
  color: #ffffff;
  margin-top: 20px;
}

#projects-heading h3 {
  text-decoration: underline;
  text-decoration-color: var(--color-green);
  text-underline-offset: 15px;
  text-transform: uppercase;
}

#project-1,
#project-2,
#project-3,
#project-4 {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 100%;
  max-width: 21.43rem;
  height: 24.87rem;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

#project-1 img,
#project-2 img,
#project-3 img,
#project-4 img {
  display: block; /* remove inline-gap */
  width: 100%;
  height: 100%;
}

#project-1 h4,
#project-2 h4,
#project-3 h4,
#project-4 h4 {
  text-transform: uppercase;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  text-align: left;
  margin-bottom: 10px;
}

.languages,
.links {
  display: flex;
}

.languages {
  margin-bottom: 1.25rem;
}

.languages aside {
  padding-right: 25px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #d9d9d9;
}

.links aside {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  padding-right: 20px;
  text-decoration: underline;
  text-decoration-color: var(--color-green);
  text-underline-offset: 15px;
  letter-spacing: 2.28571px;
}

.contact {
  background-color: var(--color-light-black);
  width: 100%;
  left: 0px;
  top: 4179px;
  padding-bottom: 0;
}

.contact h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -1.13636px;
  color: #ffffff;
}

.contact p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #d9d9d9;
}

.contact form {
  display: flex;
  flex-direction: column;
  width: 343px;
  left: 16px;
  top: 4427px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 100px;
}

.contact input {
  width: 343px;
  height: 43px;
  left: 16px;
  top: 4427px;
}

.contact textarea {
  width: 343px;
  height: 107px;
  left: 16px;
  top: 4577px;
}

.contact button {
  align-self: flex-end;
  width: 144px;
  height: 38px;
  left: 215px;
  top: 4716px;
}

.contact p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #d9d9d9;
  width: 343px;
  margin-left: 18px;
}

#bottom-rings {
  position: absolute;
  width: 530px;
  height: 120px;
  top: 19.5rem;
  right: 280px;
  mix-blend-mode: normal;
  opacity: 1.25;
  z-index: 2;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.footer h2 {
  font-size: 24px;
}

.social-media-2 {
  width: 200px;
}

/* ****** Tablets ****** */
@media (min-width: 600px) and (max-width: 1024px) {
  .container {
    margin-left: 20px;
  }

  nav {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px 0 30px;
  }

  .image-bio {
    flex-direction: row;
  }

  img[alt="Picture of Todd"] {
    width: 20.12rem;
    height: 37.5rem;
    order: 1;
    z-index: 1;
  }

  .top-section {
    z-index: 2;
    align-items: flex-start;
  }

  .top-section h1,
  .top-section p,
  .top-section span {
    text-align: left;
  }

  .top-section h1 {
    width: 75%;
    font-size: 60px;
    margin-top: 50px;
  }

  .top-section p + span {
    align-self: flex-start;
    margin-top: 20px;
    font-size: 16px;
  }

  .top-section p {
    width: 500px;
  }

  img[alt="circle"] {
    display: none;
  }

  img[alt="rings"] {
    top: 4rem;
    right: 615px;
    mix-blend-mode: normal;
    opacity: 1.25;
    z-index: -1;
  }

  .skills-section {
    align-items: flex-start;
    width: 90%;
    margin-top: 45px;
    margin-bottom: 75px;
    border-bottom: none;
  }

  .skills-section h2 {
    font-size: var(--fs-lg);
  }

  .skill-grouping-1 {
    width: 80%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .skill-grouping-2 {
    width: 98%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: left;
    margin-top: 25px;
  }

  #rings-2 {
    top: 230px;
    right: 0px;
    left: 600px;
  }

  .projects {
    margin-top: 40px;
  }

  .project-grouping-1,
  .project-grouping-2 {
    width: 98%;
    display: flex;
    flex-direction: row;
  }

  #project-1,
  #project-3 {
    margin-right: 20px;
  }

  #project-2,
  #project-4 {
    margin-left: 20px;
  }

  .contact-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
  }

  .contact p {
    width: 445px;
  }

  .contact button {
    margin-top: 20px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin-left: 10px;
  }

  #bottom-rings {
    right: 650px;
  }
}
